################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultithreadingSamples
/MultithreadingSamples/bin/Debug
/MultithreadingSamples/obj/Debug
/packages
/AsyncFormSample/bin/Debug/netcoreapp3.1
/AsyncFormSample/obj
